<section class="forgot-password">
  <div class="forgot-password-container">
    <div class="logo">
      <img src="../../../assets/logo.png" alt="" />
    </div>
    <form class="forgot-password-form" action="">
      <div class="info">
        <p class="info-title">Esqueceu a senha?</p>
        <p class="info-description">
          Digite o endereço de e-mail usado quando você ingressou e enviaremos
          instruções para redefinir sua senha.
        </p>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input matInput type="email" placeholder="email@email.com" />
      </mat-form-field>

      <button mat-raised-button class="btn">
        Enviar instruções
      </button>
    </form>

    <div class="forgot-password-footer">
      <span>Lembrou da sua senha? </span>
      <a routerLink="/" routerLinkActive="active">Acesse já!</a>
    </div>
  </div>
</section>
