.forgot-password {
  height: 100vh;
  background: linear-gradient(
    50deg,
    var(--celadon) 0%,
    var(--pantone) 35%,
    var(--hookers) 100%
  );
}

.forgot-password-container {
  width: 500px;
  height: 100vh;
  background-color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forgot-password-form {
  width: 70%;
}

.forgot-password-footer {
  position: absolute;
  bottom: 0;
  margin: 50px 0;
}

.btn {
  width: 100%;
  height: 50px;
  background-color: var(--pantone);
  color: var(--white);
}

.logo {
  margin-bottom: 50px;
}

.info-title {
  font-size: 1rem;
  font-weight: bold;
}

.info-description {
  text-align: justify;
}

mat-form-field {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--pantone);
  font-weight: bold;
}
