/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --pantone: #4DAA57;
  --hookers: #587D71;
  --celadon: #B5DDA4;
  --papaya: #F9ECCC;
  --lavender: #754668;
}
